<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD27RevT6yd9CTbKGBoO2O77urEERAHN0</string>
	<key>GCM_SENDER_ID</key>
	<string>777535574580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raffay.finly</string>
	<key>PROJECT_ID</key>
	<string>finly-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>finly-finance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777535574580:ios:2f5d3135f8e0d04134f061</string>
</dict>
</plist>